* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    font-size: 10px;
}

div {
    margin-top: 10px;
}

.nav {
    top: 0;
    left: 0;
    width: 100%;
    background: purple;
    color: white;
}

.nav_title {
    font-size: 3rem;
    padding: 15px 10px;
}

.container {
    margin: 5px 15%;
}

.button-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.q-btn {
    font-size: 1.8rem;
    background: blue;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 10px;
}

table {
    width: 100%;
    margin-bottom: 40px;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

td {
    border-left: 1px solid rgb(255, 36, 36);
    padding-left: 5px;    
}

.th-row {
    padding: 15px;
    border-bottom: 1px solid black;
    margin: 7px 0;
}

th, td, h4, label, input {
    font-size: 1.6rem;
}

label {
    display: inline-block;
    background: orange;
}

input {
    border: 1px solid rgb(192, 192, 192);
    width: 90%;
    margin: 10px 165px 0 15px;
}

.input-row_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-row_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.input-row_1 div,
.input-row_2 div {
    /* background: greenyellow; */
   
}